.main{
  display: flex;
  flex-direction: row;
  /* border: 2px solid red; */
  margin: 20px;
  padding: 20px;
  height: 500px;
  background-color: #567B84;
  border-radius: 20px;
  box-shadow: 5px 5px 15px black;
}
.text{
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  width: 400px;
  margin-right: 50px;
  background-color: #EAB46C;
  color: #B74248;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* font-size: 30px; */
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 15px black;
}
.img{
  /* border: 2px solid red; */
  width:300px;
  height: 300px;
}
.author{
  width:300px;
  height: 100px;
  padding: 10px;
  /* border: 2px solid red; */
  margin-top: 50px;
  color: rgb(238, 196, 58);
  border-radius: 20px;
  box-shadow: 5px 5px 15px black;
}